@{
    ViewBag.Title = "Home Page";
}


<article>
    <table>
        <tr>
            <td><strong><h2>DESCUBRE LAS <br> HISTORIAS <br> PLASMADAS <br> EN CADA COMPRA...</h2> </strong></td>
            <td><img src="imagen/img1.webp" alt="imagen1" width="350"></td>
        </tr>
    </table>
</article>



<section class="navegacion">
    <div class="contenedor">
        <div class="imagencard">
           <img src="imagen/galleta.jpg" alt="Galleta Chocolate">
        </div>
        <div class="enlace">
            <button>DETALLES</button>
        </div>
    </div>
</section>

<style>
    /*PÁGINA PRINCIPAL - CUERPO*/
    article {
        justify-content: center;
        display: flex;
        padding: 10px;
    }

    td {
        padding: 4px;
    }

    h2 {
        font-size: 40px;
        font-weight: 100px;
    }

    td img {
        border-radius: 500px;
    }

    /*PÁGINA PRINCIPAL*/

    .contenedor {
        width: 20%;
        background: white;
        padding: 35px;
        margin: 30px;
        border: 1px solid white;
        border-radius: 5px;
    }

    .imagencard img {
        width: 100%;
        border-radius: 3px;
    }

    .enlace {
        text-align: center;
    }

    button {
        background-color: white;
        border-radius: 10px;
        border-width: 0px;
        padding: 5px;
        margin: 5px;
        color: black;
        margin: 2px;
    }

    .contenedor:hover {
        transform: translate(15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        border-radius: 9px;
    }

    button:hover {
        background-color: #066b81;
        color: white;
    }

    .navegacion{
        display: flex;
    }
</style>

