
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<br>


<h4>Usuario o contraseña incorrecta, intente de nuevo</h4>
<br>
@Html.ActionLink("Registrarse", "Index", "Login") |
@Html.ActionLink("Crear Cuenta", "Create", "usuarios") |
@Html.ActionLink("Servicio Tecnico", "Create", "servicio_tec") |
